/*------------------------------------------------------------*/
.testing {
    color: red;
}
/*------------------------------------------------------------*/
section {
    font-family: verdana;
}

/*------------------------------------------------------------*/
.web_portfolio {
    font-size: 70px;
}
/*------------------------------------------------------------*/
.row {
    padding:40px
}
.institutions_oververview {
    border-collapse: separate;
    border-spacing: 50px 10;
}
table.institutions_overview {
    .midcol{ /* middle col here: means any column not being the first one */
        padding-left: 40px;
    }

    .inst { /* contains institution column */
        vertical-align: top;
        text-align: left;
    }
    .dur { /* contains duration column */
        padding-left: 40px;
        vertical-align: top;
    }
    .headers {
        text-align: left;
    }
}
/*------------------------------------------------------------*/
a.fa-elements{ /*for all fa items*/
    font-size: 40px;
    color: skyblue;
    padding-left: 20px;
}
.fa {
    text-decoration: none;
}
/*------------------------------------------------------------*/
.skill-rating {
  color: #f0c30f;
  font-size: 20px;
}
table.skills_overview {

    .headers {
        text-align: left;
    }
    .row_names {
        vertical-align: bottom;
    }
    .midcol {
        padding-left: 40px; 
    }
}
table.languages_overview {

    .headers {
        text-align: left;
    }
    .row_names {
        vertical-align: bottom;
    }
    .midcol {
        padding-left: 40px; 
    }
}
/*------------------------------------------------------------*/
