
/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333333;
}

a {
  color: #0077cc;
  text-decoration: none;
}.testing {
    color: red;
}
.education {
    color: blue;
    font-family: verdana;
}
.web_portfolio {
    font-size: 70px;
}

.row {
    padding:40px
}
.institutions_oververview {
    border-collapse: separate;
    border-spacing: 50px 10;
}
table.institutions_overview {
    .midcol{ /* middle col here: means any column not being the first one */
        padding-left: 40px;
    }

    .inst { /* contains institution column */
        vertical-align: top;
        text-align: left;
    }
    .dur { /* contains duration column */
        padding-left: 40px;
        vertical-align: top;
    }
    .headers {
        text-align: left;
    }
}

